{% extends "base_generic.html" %}

{% block content %}
    <img src="{{ cover.image }}" alt="Album Cover" width="20" height="20">
    <h1 class="entry-title"><em>{{ album.title }}</em></h1>

    <p><strong>Artist:</strong> <a class="entry-title" href="{% url 'artist-detail' album.artist.pk %}">{{ album.artist }}</a></p>
    <p><strong>Genre:</strong> {{ album.genre }}</p>
    <p><strong>Created at:</strong> {{ album.created_at }}</a></p>
    <p><a href="{% url 'album-update' album.pk %}">Edit</a></p>
    <p><a href="{% url 'album-delete' album.pk %}">Delete</a></p>

{% endblock %}