{% extends "base_generic.html" %}

{% block content %}
    <h1>All Albums</h1>
    {% if album_list %}
    <ul>
        {% for album in album_list %}
            <li>
                <em><a class="entry-list" href="{{ album.get_absolute_url }}">{{ album.title }}</a></em>
                <p class="album-list-artist">by {{album.artist}}</p>
            </li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'album-create' %}">Add Album</a></p>
    {% else %}
        <p>There are no albums in the library.</p>
    {% endif %}
{% endblock %}